.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messeges{
    padding: 10px;
}

.messages .mesege{
   color: white;
}